body
{
   background: rgb(86, 153, 207);
   text-align: center; 
}
header
{
    color:cornsilk;
    text-align: center;
}
section
{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}
img
{
    border-radius: 50%;
    width: 230px;
    height: 230px;
}
div
{
    text-align: center;
    padding: 8px;
}
footer
{
    color: white;
    text-align: center;
    font-style: italic;
}